<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.mirrorbuddy.sync</string>
		<string>com.mirrorbuddy.material-sync</string>
		<string>com.mirrorbuddy.MirrorBuddy.backgroundSync</string>
		<string>com.mirrorbuddy.materialsync</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>MirrorBuddy usa il riconoscimento vocale per i comandi vocali di navigazione</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MirrorBuddy ha bisogno del microfono per il riconoscimento vocale dei comandi</string>
</dict>
</plist>
