<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BGTaskSchedulerPermittedIdentifiers</key>
	<array>
		<string>com.mirrorbuddy.sync</string>
		<string>com.mirrorbuddy.material-sync</string>
		<string>com.mirrorbuddy.MirrorBuddy.backgroundSync</string>
		<string>com.mirrorbuddy.materialsync</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>MirrorBuddy usa il riconoscimento vocale per i comandi vocali di navigazione</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>MirrorBuddy ha bisogno del microfono per il riconoscimento vocale dei comandi</string>
	<key>NSCameraUsageDescription</key>
	<string>MirrorBuddy usa la fotocamera per scansionare documenti e materiali di studio</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.mirror-labs.MirrorBuddy</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.809300652208-63bsk3kh9t668kpi5j8vcbnssnggualk</string>
			</array>
		</dict>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>OpenDyslexic-Regular.otf</string>
		<string>OpenDyslexic-Bold.otf</string>
		<string>OpenDyslexic-Italic.otf</string>
		<string>OpenDyslexic-Bold-Italic.otf</string>
	</array>
</dict>
</plist>
